{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <h1 class="display-3 mb-3 py-5 text-center">Le configurateur de PC</h1>

<form action="" class="form-group py-5">
    <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <select class="form-select show-tick">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
        </div>
    </div>
</form>    <!-- /.row -->
{% endblock %}
