{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %} Amusons-nous avec les entités et les crud{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="display-4">
                    Bienvenue sur le back-office !
                </h3>
            </div>
            <div class="container">
                <div class="row-justify-content-center">
                    <div class="col-lg-6">
                        <a href="{{ path ('app_home') }}" class="btn btn-warning">Retourner sur le site</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
